{{ template "commonrc.sh.tmpl" . }}

# Enable git autocomplete
autoload -Uz compinit && compinit

# Enable Starship (https://starship.rs/) hook
eval "$(starship init zsh)"

# Enable Direnv (https://direnv.net/) hook
eval "$(direnv hook zsh)"
