[includeIf "hasconfig:remote.*.url:https://github.com/**"]
  path = ~/.config/git/github/config

[includeIf "hasconfig:remote.*.url:git@github.com:*/**"]
  path = ~/.config/git/github/config

[includeIf "hasconfig:remote.*.url:https://gitlab.com/*/**"]
  path = ~/.config/git/gitlab/config

[includeIf "hasconfig:remote.*.url:git@gitlab.com:*/**"]
  path = ~/.config/git/gitlab/config
